.checkout-container {
    display: flex;
    gap: 5px;
}

.checkout-component-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 70%;
}

.checkout-order-container {
    grid-area: checkout-order-container;
    padding: 10px;
    flex: 30%;
}

@media (max-width: 768px) {
    .checkout-container {
        display: flex;
        flex-direction: column;
    }
}