.checkout-container {
    display: flex;
    gap: 5px;
    margin: 40px;
    align-items: flex-start;
}

.checkout-component-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    height: auto;
}

.checkout-order-container {
    flex: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    height: auto;
}

@media (max-width: 768px) {
    .checkout-container {
        display: flex;
        flex-direction: column;
    }
}