.ordersummary-checkout-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ordersummary-bill-layout{
    display: flex;
    justify-content: space-between;
}

.place-order {
    text-align: center;
  }