.checkout-container input,
.checkout-container select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    color: #333;
    outline: none;
}
input[type="checkbox"] {
    width: auto;
}
