.routing {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100vh;
    gap: 5px;
}

.navbarLayout{
    flex: 0 0 auto;
    color: #f8f9fa;
}

.content{
    flex: 1;
    overflow-y: auto;
    margin: 5px;
}

.footerLayout{
    flex: 0 0 auto;
    background-color:#737373;
}