.routing {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100vh;
}

.navbarLayout{
    flex: 0 0 auto;
    color: #f8f9fa;
    background-color: white;
}

.content{
    flex: 1;
    overflow-y: auto;
    /* background-color: #fafafc; */

}

.footerLayout{
    flex: 0 0 auto;
    background-color:#737373;
}