.button-css {
    background: linear-gradient(to right, #7b00ff, #4e8cff);
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white;
    transition: all 0.4s ease;

}

button:hover {
    background: linear-gradient(to right, #9a4dff, #5a9bff);
    transform: scale(1.05); 

}

