.card-img-top {
  width: 80%; /* Full width of the parent container */
  height: 250px; /* Fixed height */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}
.container {
  width: 100%; /* Full width */
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center the container */
}

.carousel .slide {
  background: #000; /* Optional: add a background color */
}

.banner-slide {
  position: relative;
  width: 100%;
  height: 100%; /* Ensures the slide takes full height of the container */
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the container without distortion */
}


.banner-slide {
  background: var(--button-hover);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease;
}

.banner-slide:hover {
  transform: scale(1.05);
}

.top-categories {
  padding: 20px 0;

}

.top-categories h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}
/* Add product card styles here */
.product-card {

  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.product-card img {
  transition: transform 0.4s ease;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-card img:hover {
  transform: scale(1.1);
}

.product-card .card-body {
  padding: 15px;
  flex: 1;
}

.product-card .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #4a0c7a;
}

.product-card .card-text {
  font-size: 1rem;
  color: #666;
}



.top-categoriesc {
  padding: 20px 0;
}

.top-categoriesc .card-img-top {

  height: 200px;
  object-fit: cover;
}

.top-categoriesc .card-body {
  padding: 15px;
}

.top-categoriesc .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.top-categoriesc .card:hover {
  transform: scale(1.05);
}



