.product-detail-page .image-container {
  position: relative;
  overflow: hidden;
  cursor: default; /* Removes zoom-in cursor */
  background-size: cover; /* Ensures the background image covers the container */
  width: 100%;
  height: 400px; /* Fixed height for all images */
  border: none;
  border-radius: none;
}

.product-detail-page img {
  display: block;
  max-width: 100%;
  height: 100%; /* Ensures image fills the container */
  object-fit: cover;
  border-radius: none;
  border: none; /* Ensures the image covers the entire area without distortion */
}

.product-detail-page .image-container:hover img {
  opacity: 1; /* Ensures the image is visible on hover */
}

.product-detail-page .image-container:hover {
  cursor: default; /* Keeps the cursor default on hover */
}

/* New styles for product details alignment */
.product-detail-page .product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addToCart {
  width: 332px;
  height: 48px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;
  border-radius: 40px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px 12px !important;
  background-color: #8c0e12;
  border: 1px solid #8c0e12;
  color: #fff;
}

.addToCart:hover {
  color: #fff;
  background-color: #420c0b;
  border: 1px solid #420c0b;
}

.product-detail-page .product-options {
  margin: 20px 0;
}

.product-detail-page .option-group {
  margin-bottom: 15px;
}

.product-detail-page .option-group label {
  margin-right: 10px;
}

.product-detail-page .option-group select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.imgcontent{
  width: fit-content;
  display: flex;
  gap: 10px;
}



.option-group{
   display: flex;
}
.image-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.thumbnail {
  cursor: pointer;
  width: 50px;
  height: 50px;
}
