.cartLayout{
    display: flex;
}
.cartproducts{
    display: flex;
    flex-direction: column;
}
.productItem {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .productImage {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .productDetails {
    display: flex;
    flex-direction: column;
  }
