.cartLayout {
    display: flex;
}

.cartproducts {
    display: flex;
    flex: 0 0 60%;
    flex-direction: column;
    gap: 10px;
}

.orderSummaryLayout {
    flex: 0 0 40%;
}

.productItem {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
}

.productImage {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.productDetails {
    display: flex;
    flex-direction: column;
}