.cartLayout {
    display: flex;
    height: 100vh;
    gap: 10px;
}

.cartproductslayout {
    flex: 0 0 60%;
}

.orderSummaryLayout {
    flex: 0 0 40%;
    border: 1px solid #ddd;
}

.cartproducts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cartproductItem {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
}

.cartproductImage {
    max-width: 100%;
    height: auto;
    flex: 0 0 20%;
}

.cartproductDetails {
    display: flex;
    flex-direction: column;
}

.quantityLayout {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantityInput {
    width: 50px;
}

.orderSummary {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
}